fastapi
uvicorn[standard]
python-dotenv
pydantic

langchain
langgraph
langchain-openai
langchain-google-genai
langchain-community

sentence-transformers
qdrant-client

pypdf
pymupdf

pandas
numpy

sqlalchemy

ragas
datasets

tiktoken
pytest